:root {
  --primary-color: rgb(196, 251, 255);
  --secondary-color: orangered;
  --shadow-values: 0 1px 20px 1px rgba(0, 0, 0, 0.384);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--primary-color);
}
/* <!-- navbar --> */
.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);
  padding: 0 22vw;
  box-shadow: var(--shadow-values);
}
.nav-title {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.nav-link > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 1rem;
}
/* <!-- hero --> */
.hero {
  margin-top: 150px;
}
.banner > * {
  margin: 5px;
  padding: 0;
}
.banner {
  position: relative;
  margin-left: 22vw;
  margin-right: 22vw;
  padding: 60px 170px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}
.banner > button {
  width: 9rem;
  height: 2.5rem;
  background: rgb(44, 44, 44);
  color: white;
  padding: 4px;
  border-style: none;
  border-radius: 6px;
}
.banner > p {
  font-size: larger;
}
.banner > h3 {
  font-size: x-large;
}
.image > img {
  width: 350px;
  position: absolute;
  top: 10px;
  right: 28vw;
}

/* badge */
.badge {
  margin-left: 22vw;
  margin-right: 22vw;
  margin-top: 5rem;
  border: 1px solid black;
  border-radius: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-values);
}
.skillset {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skillset > p {
  display: flex;
  color: white;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 5px;
  margin-left: 25px;
  margin-right: 15px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: scale(1.5);
}

.skill-name > p {
  align-items: center;
  margin: 6px;
}

.divider {
  width: 2px;
  background-color: gray;
  height: 40px;
}
.skill-property {
  color: var(--secondary-color);
}

/* skills  */
.skill {
  margin: 50px 22vw;
  display: flex;
  flex-direction: column;
}
.skill-header * {
  margin: 0;
  padding: 0;
}
.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-header > h2 {
  box-shadow: 0 4px 0 red;
}

.skill-icons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-text > i {
  transform: scale(2);
}
.fa-html5 {
  color: rgb(255, 145, 0);
}
.fa-css {
  color: rgb(53, 53, 241);
}
.fa-js {
  color: rgb(233, 196, 32);
}
.fa-figma {
  color: purple;
}
