/* google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Borel&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(196, 251, 255);
  --bright-color: rgb(196, 251, 255);
  --dark-color: #2a2a2a;

  --secondary-color: orangered;
  --text-color: var(--dark-color);
  --dark-text-color: white;
  --shadow-values: 0 1px 20px 1px rgba(0, 0, 0, 0.384);
  --green-bg: rgb(94, 185, 94);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  background: var(--primary-color);
  color: var(--text-color);
}
[for="darkmode"] {
  position: fixed;
  top: 7rem;
  left: 3rem;
}
[for="darkmode"]:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}

.page-container > * {
  margin: 0 22vw;
}
/* dark mode toggle */
#darkmode:checked + .wrapper {
  --primary-color: var(--dark-color);
  --text-color: var(--dark-text-color);
  --secondary-color: rgb(141, 39, 2);
  --green-bg: rgb(3, 63, 3);
}
#darkmode {
  display: none;
}

/* <!-- navbar --> */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  padding: 0 22vw;
  box-shadow: var(--shadow-values);
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-title {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.nav-link > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 1rem;
  font-weight: bold;
}
.name {
  font-family: "Borel", cursive;
  font-weight: 1000;
  transform: scale(1.4);
}
.slash {
  color: var(--secondary-color);
  font-weight: 1000;
  transform: scale(1.4);
  padding: 0 5px;
}

/* <!-- hero --> */
.hero {
  margin-top: 150px;
}
.banner > * {
  margin: 5px;
  padding: 0;
}
.banner {
  position: relative;

  padding: 3vw 10vw;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}
.banner > button {
  width: 9rem;
  height: 2.5rem;
  background: rgb(44, 44, 44);
  color: white;
  padding: 4px;
  border-style: none;
  border-radius: 6px;
}
.banner > p {
  font-size: larger;
}
.banner > h3 {
  font-size: x-large;
}
.image > img {
  width: 350px;
  position: absolute;
  top: 140px;
  right: 28vw;
}

/* badge */
.badge {
  margin-top: 80px;
  border: 1px solid black;
  border-radius: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-values);
}
.skillset {
  padding: 10px 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skillset > p {
  display: flex;
  color: white;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 5px;
  margin-left: 25px;
  margin-right: 15px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: scale(1.5);
}

.skill-name > p {
  align-items: center;
  margin: 6px;
}

.divider {
  width: 2px;
  background-color: gray;
  height: 40px;
}
.skill-property {
  color: var(--secondary-color);
}

/* skills  */
.skill {
  display: flex;
  flex-direction: column;
}

.title-header {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-header > h2 {
  box-shadow: 0 4px 0 var(--secondary-color);
}

.skill-icons {
  display: flex;
  justify-content: space-between;
}
.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-text > i {
  transform: scale(2);
}
.fa-html5 {
  color: rgb(255, 145, 0);
}
.fa-css {
  color: rgb(53, 53, 241);
}
.fa-js {
  color: rgb(233, 196, 32);
}
.fa-figma {
  color: purple;
}

/* my project  */

.my-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2vw;
}

.projects-card {
  display: flex;
  width: 26vw;
  flex-direction: column;
  box-shadow: var(--shadow-values);
}
.projects-card > img {
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.tech-link {
  margin-top: 15px;
  align-self: center;
}
.tech-link .fa-github,
.fa-chrome {
  color: black;
  padding: 10px;
}

.project-info {
  padding: 0 50px;
}

/* about-me  */

.about-container {
  background: var(--green-bg);
}

.about-title {
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-me {
  display: flex;
  margin: 0 22vw;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 50px;
}

.my-photo > img {
  width: 380px;
  height: auto;
}
.my-details {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
.interest {
  display: flex;
  gap: 1vw;
}

/* contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.contact-title {
  margin-bottom: 20px;
}
.contact-links > i {
  margin: 0 10px;
  font-size: xx-large;
}

.email > input {
  background-color: black;
  color: white;
  border: none;
  outline: none;
}
.email {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 22px;
}
.email > a {
  color: white;
  text-decoration: none;
}

.fa-paper-plane {
  font-size: x-small;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

/* footer  */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
}
.footer-links-socials {
  display: flex;
  gap: 80px;
}

.footer * ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer * a {
  text-decoration: none;
  color: gray;
}
.footer * a:hover {
  color: var(--secondary-color);
}

.copyright {
  padding-top: 50px;
  padding-bottom: 20px;
}
