/* google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(196, 251, 255);
  --bright-color: rgb(196, 251, 255);
  --dark-color: #2a2a2a;

  --secondary-color: orangered;
  --text-color: var(--dark-color);
  --dark-text-color: white;
  --shadow-values: 0 1px 20px 1px rgba(0, 0, 0, 0.384);
  --green-bg: rgb(94, 185, 94);
  --border-color: gray;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}
a {
  color: inherit;
  text-decoration: none; /* Removes underlines */
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}
.wrapper {
  background: var(--primary-color);
  color: var(--text-color);
}
[for="darkmode"] {
  position: fixed;
  top: 7rem;
  left: 3rem;
}
[for="darkmode"]:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}

/* dark mode toggle */
#darkmode:checked + .wrapper {
  --primary-color: var(--dark-color);
  --text-color: var(--dark-text-color);
  --secondary-color: rgb(141, 39, 2);
  --green-bg: rgb(3, 63, 3);
  --border-color: rgb(190, 190, 190);
}
#darkmode {
  display: none;
}

/* <!-- navbar --> */
.navbar {
  background: var(--primary-color);
  box-shadow: var(--shadow-values);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navigation {
  justify-content: space-between;
}
.menu-link {
  display: none;
}
.nav-title {
  justify-content: space-between;
  gap: 1rem;
}
.nav-link > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 1rem;
  font-weight: bold;
}
.nav-link > ul > li:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.name {
  font-family: "Ephesis", cursive;
  font-weight: 1000;
  transform: scale(1.4);
}
.slash {
  color: var(--secondary-color);
  font-weight: 1000;
  transform: scale(1.4);
  padding: 0 5px;
}

/* <!-- hero --> */
#home {
  padding-top: 150px;
}
.hero {
  background-color: var(--secondary-color);
  grid-template-areas: "banner image";
}
.banner > * {
  margin: 5px;
  padding: 0;
}
.banner {
  grid-area: banner;
  align-content: center;
  padding: 3vw 10vw;
  flex-direction: column;
}
.image {
  grid-area: image;
  justify-content: end;
  align-items: center;
  margin-top: -5rem;
}
.banner button {
  width: 9rem;
  height: 2.5rem;
  background: rgb(44, 44, 44);
  color: white;
  padding: 4px;
  border-style: none;
  border-radius: 6px;
}
.banner > p {
  font-size: larger;
}
.banner > h3 {
  font-size: x-large;
}
.image > img {
  width: 400px;
}

/* badge */
.badge {
  margin-top: 80px;
  margin-bottom: 50px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  height: auto;
  justify-content: space-between;
  box-shadow: var(--shadow-values);
  flex-wrap: wrap;
}
.skillset {
  padding: 10px 1vw;
  display: flex;
  align-items: center;
}
.skillset > p {
  display: flex;
  color: white;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 5px;
  margin-left: 25px;
  margin-right: 15px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: scale(1.5);
}

.skill-name > p {
  align-items: center;
  margin: 6px;
}

.divider {
  width: 2px;
  background-color: var(--border-color);
  height: 40px;
}
.skill-property {
  color: var(--secondary-color);
}

/* skills  */
.skills-section {
  padding-top: 50px;
}
.title-header {
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

.title-header > h2 {
  box-shadow: 0 4px 0 var(--secondary-color);
}

.skill-icons {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.icon-text {
  flex-direction: column;
}
.icon-text > i {
  transform: scale(2);
}
.fa-html5 {
  color: rgb(255, 145, 0);
}
.fa-css {
  color: rgb(53, 53, 241);
}
.fa-js {
  color: rgb(233, 196, 32);
}
.fa-figma {
  color: purple;
}

/* my project  */
.projects {
  padding: 50px 0;
}
.projects .my-projects {
  grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
}

.projects-card {
  box-shadow: var(--shadow-values);
  border-radius: 5px;
  padding-bottom: 3rem;
}
.projects-card > img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.tech-link {
  margin-top: 15px;
  text-align: center;
}
.tech-link .fa-github,
.fa-chrome {
  color: black;
  padding: 10px;
}

.project-info {
  padding: 0 50px;
}

/* about-me  */

.about-container {
  background: var(--green-bg);
  padding-top: 50px;
}

.about-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-me {
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 50px;
}

.my-photo > img {
  width: calc(150px + 10vw);
  height: auto;
}
.my-details {
  padding-top: 5px;
  flex-direction: column;
  flex-wrap: wrap;
}
.interest {
  gap: 1vw;
  padding: 4px;
}
.interest > span {
  padding: 4px;
}
.interest > span:hover {
  background-color: gray;
  border-radius: 3px;
  transform: scale(1.2);
  transition: all 1s;
  cursor: pointer;
}

/* contact */

.contact {
  flex-direction: column;
  padding-bottom: 50px;
}

.contact-title {
  margin-bottom: 20px;
}
.contact-links > i {
  margin: 0 10px;
  font-size: xx-large;
}

.email > input {
  background-color: black;
  color: white;
  border: none;
  outline: none;
}
.email {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 22px;
  box-shadow: var(--shadow-values);
}
.email > a {
  color: white;
  text-decoration: none;
}

.fa-paper-plane {
  font-size: x-small;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

/* footer  */

.footer {
  flex-direction: column;
  background: black;
  color: white;
}
.footer-links-socials {
  gap: 80px;
}

.footer * ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer * a {
  text-decoration: none;
  color: gray;
}
.footer * a:hover {
  color: var(--secondary-color);
}

.copyright {
  padding-top: 50px;
  padding-bottom: 20px;
}

.go-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.go-up > a {
  font-size: larger;
  box-shadow: var(--shadow-values);
  padding: 16px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

[for="hamburgerMenu"] {
  display: none;
  cursor: pointer;
}

#hamburgerMenu {
  display: none;
}
/* media query */
@media (max-width: 768px) {
  [for="hamburgerMenu"] {
    display: flex;
  }
  .nav-link {
    position: absolute;
    top: 54px;
    left: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    box-shadow: -5px 0 10px -5px rgba(0, 0, 0, 0.384);
    z-index: 10;
    transition: all 0.5s;
  }
  .nav-link ul {
    list-style: none;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 40vw;
    height: auto;
    gap: 40px;
    font-size: 1.3rem;
  }

  #hamburgerMenu:checked + .nav-link {
    left: 58vw;
  }
  .hero {
    grid-template-areas:
      "image"
      "banner";
  }
  .image {
    justify-content: center;
  }
  .badge {
    flex-direction: column;
  }
  .divider {
    display: none;
  }
  .badge {
    width: 60vw;
  }
  .about-me {
    flex-direction: column;
    align-items: center;
  }
  .my-details {
    align-items: center;
  }
  .my-photo > img {
    width: 60vw;
  }
  .projects .my-projects {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}
